    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer">
                        <h3>
                            <small>You can follow me on <a href="https://twitter.com/joehanchoi" target="_blank">Twitter</a>.
                            © 2014-{{date format="YYYY"}} Joe Choi</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>
