#post-container {
  opacity: 0;
  transition: all 0.2s linear;
}

.show-posts {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  opacity: 1 !important;
}

a {
  transition: 0.25s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.footer {
  padding: 10px 0;
  text-align: center;
}

#infscr-loading {
  display: none !important;
}

#mynano {
  top: auto !important;
  bottom: 0;
}

/* Bootstrap Overides */
.container{
  max-width:960px;
}

.post {
  padding: 30px 0 0;
  opacity: 0;
  transition: all 0.2s linear;
}
.post img, .post iframe, .post object, .post object embed {
  width: 100%;
}
.post img {
  height: auto;
}
.post aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post aside ul li a:not(:hover) {
  color: inherit;
}
.post aside .side-header {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 5px;
}
.post aside .side-header:first-child {
  margin-top: 0;
}
.post header {
  margin-bottom: 20px;
}
.post header h1, .post header h2 {
  margin: 0;
}
.post header h1 a, .post header h2 a {
  text-decoration: none;
}
.post header h1 a:not(:hover), .post header h2 a:not(:hover) {
  color: inherit;
}
.post section {
  margin-bottom: 20px;
}
.post footer .well {
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.cover-image {
	margin-bottom: 40px;
}

.fin {
	text-align: center;
	font-size: 25px;
	color: #f4f4f4;
}

.mobile-side time {
  font-weight: 700;
  margin-right: 5px;
}
.mobile-side a {
  text-decoration: none;
}
.mobile-side a:not(:hover) {
  color: inherit;
  font-weight: 700;
}

.comments {
  padding: 0;
  padding: 60px 0;
  border-bottom: 2px solid #eee;
}
.comments .container {
  max-width: 960px;
}

.headroom {
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.footnote > p {
  margin: 0 0 5px;
  font-size: 14px;
}

.footnotes > ol {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 400;
}

/* Responsive: Portrait tablets and up */
/* @media screen and (min-width: 768px) { */
/*   .post, .comments { */
/*     padding: 60px 0; */
/*   } */
/* } */


/* Pagination Navigation Styling */
.pagination {
  width: 100%;
}

.newer-posts, .older-posts {
  position:absolute;
}

.newer-posts {
  left: 15px;
}

.older-posts {
  right: 15px;
}
